# Environment variables — NEVER commit this
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv*/
venv311/
.venv/
env/


# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.dbvenv311/
